.navbar {
	position: fixed;
	width: 100vw;
}

.navbar-logo {
	width: 56px;
	height: 56px;
}

.bg-translucid {
	background-color: rgba(255, 255, 255, 0.8);
}

#city-carousel {
	height: 600px;
	margin-bottom: 1em;
}

.page-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
}

.padded-row {
	padding-right: 0;
	padding-left: 24px;
}

.weather-icon {
	width: 100px;
	height: 100px;
}

.fontawesome-card-icon {
	margin: 0.5em 1em;
}

#life-cards {
	margin-bottom: 1em;
}

#map {
	height: 30em;
	margin-bottom: 2em;
}
